*.suo
*.swp
*.csproj.user
bin
obj
*.pdb
_ReSharper*
*.ReSharper.user
*.ReSharper
desktop.ini
.eprj
perf/*
*.orig

MBestKnockout.csproj
MBestKnockout.sln
Properties/AssemblyInfo.cs
Web.config
Web.Debug.config
Web.Release.config